Windows Forms com C#/CursoWindowsForms/.vs/CursoWindowsForms/v17/.suo
Windows Forms com C#/CursoWindowsForms/.vs/CursoWindowsForms/FileContentIndex/64f23f35-03b2-4a4e-888b-f28c3c67e9c4.vsidx
Windows Forms com C#/CursoWindowsForms/.vs/CursoWindowsForms/FileContentIndex/c47e9b85-cc66-4745-9cf9-3e69f8d55128.vsidx
